In [13]:
Functions 
1. A block of organized ,reusable code to perform a particular action
2. Provide better modularity
3. Built-in functions include print(),input(),type(), etc.
4. Syntax
    def sum(a,b):
        statement1
        statement2
        ..........
        ..........
        return result

Hello World

In [16]:
def factorial (n):
    res=1
    for i in range(1,n):
        res*=i;
    return res;

print(factorial(10))

362880

In [17]:
#function Arguments
def func(name,age=35):#default Parameter
    print(name)
    print(age) 
func("Akash Chand")

Akash Chand
35

In [18]:
func("Jane",25)

Jane
25

In [19]:
#Lambda function
f= lambda x: "even" if x%2==0 else "Odd"
f(10)

'even'

In [21]:
#we can pass many values in form of tuples using *
def var_func(*args):
     print(args)
var_func(1,3,"abc")

(1, 3, 'abc')

In [30]:
def list_diff(list1 ,list2):
    l3=[]
    for i in range(0,len(list1)):
       l3.append(list1[i]-list2[i])
    return l3
l1=[1,2,3,4,5]
l2=[2,3,4,5,6]

print(list_diff(l1,l2))

[-1, -1, -1, -1, -1]